body {
  background: #e3e4ec59;
}
nav {
    background-color: #ffffff;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgb(42 27 22);
}
.navbar-light .navbar-brand {
  font-weight: 500;
}
nav input[type="search"] {
  display: block;
  width: 254px;
  box-sizing: border-box;
  border: 1px solid rgb(42 27 22); /* #e9e9e9; */
  font-size: 14px;
  /* color: #8c8889; */
  color: rgb(42 27 22);
  line-height: 38px;
  height: 40px;
  float: left;
  background: #ffffff;
  padding: 0 16px;
  border-radius: 0px;
}
nav input[type="search"]:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid rgb(42 27 22); /* #e9e9e9; */
}
nav .search-button
{
  float: right;
    display: block;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    width: 41px;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid rgb(42 27 22);
    color:rgb(42 27 22);
    padding: .375rem;
}
nav .search-button:hover, nav .search-button:active,
nav .search-button:focus, nav .btn-outline-success:not(:disabled):not(.disabled).active,
nav .btn-outline-success:not(:disabled):not(.disabled):active,
nav .show>.btn-outline-success.dropdown-toggle
{
  background: #ffffff;
  box-shadow: none !important;
  border: 2px solid rgb(42 27 22);
  color:rgb(42 27 22);
}
nav a, nav a:hover, nav a:active, nav a:focus {
  color:rgb(42 27 22);
}
/* nav .search-button:before {
  content: "\e68a";
} */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
/* 
  .sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active,.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.fab {
    font-family: "Font Awesome 5 Brands"
}
.far {
    font-weight: 400
}

.fa,.far,.fas {
    font-family: "Font Awesome 5 Free"
}

.fa,.fas {
    font-weight: 900
}
.fa-star:before {
  content: "\f005";
} */
.rating {
  padding: 0;
  color: #ffa000;
  list-style-type: none
}

.rating li {
  display: inline-block
}
.zoom {
  transition: transform .2s;
  border: 8px solid #fff;
}
.zoom:hover {
  transform: scale(1.1);
  z-index: 1;
}