body {
  background: #e3e4ec59;
}
nav {
    background-color: #ffffff;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgb(42 27 22);
}
.navbar-light .navbar-brand {
  font-weight: 500;
}
nav input[type="search"] {
  display: block;
  width: 254px;
  box-sizing: border-box;
  border: 1px solid rgb(42 27 22); /* #e9e9e9; */
  font-size: 14px;
  /* color: #8c8889; */
  color: rgb(42 27 22);
  line-height: 38px;
  height: 40px;
  float: left;
  background: #ffffff;
  padding: 0 16px;
  border-radius: 0px;
}
nav input[type="search"]:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid rgb(42 27 22); /* #e9e9e9; */
}
nav .search-button
{
  float: right;
    display: block;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    width: 41px;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid rgb(42 27 22);
    color:rgb(42 27 22);
    padding: .375rem;
}
nav .search-button:hover, nav .search-button:active,
nav .search-button:focus, nav .btn-outline-success:not(:disabled):not(.disabled).active,
nav .btn-outline-success:not(:disabled):not(.disabled):active,
nav .show>.btn-outline-success.dropdown-toggle
{
  background: #ffffff;
  box-shadow: none !important;
  border: 2px solid rgb(42 27 22);
  color:rgb(42 27 22);
}
nav a, nav a:hover, nav a:active, nav a:focus {
  color:rgb(42 27 22);
}
/* nav .search-button:before {
  content: "\e68a";
} */
.form-signup, .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signup {
    max-width: 500px;
  }
  .form-signup .checkbox, .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signup .form-control, .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus, .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
/* 
  .sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active,.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.fab {
    font-family: "Font Awesome 5 Brands"
}
.far {
    font-weight: 400
}

.fa,.far,.fas {
    font-family: "Font Awesome 5 Free"
}

.fa,.fas {
    font-weight: 900
}
.fa-star:before {
  content: "\f005";
} */
.rating {
  padding: 0;
  color: #ffa000;
  list-style-type: none
}

.rating li {
  display: inline-block
}
.zoom {
  transition: transform .2s;
  border: 8px solid #fff;
}
.zoom:hover {
  transform: scale(1.1);
  z-index: 1;
}
.badge {
  position: relative;
  top: -15px;
  left: -15px;
  border: 1px solid #dc3545;
  border-radius: 50%;
 }
.form-signin, .form-signup, .cake-details {
  background-color: #ffffff;
}

.cart .title {
  margin-bottom: 5vh
}
/* 
.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
      margin: 3vh auto
  }
} */
.cart-block {
  border: none
}
.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

/* .row {
  margin: 0
} */

.cart .title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}
/* 
.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
} */

.close {
  margin-left: auto;
  font-size: 0.7rem
}

.cart img {
  width: 3.5rem
}

.back-to-shop {
  margin-top: 4.5rem
}

.cart h5 {
  margin-top: 4vh
}

.cart hr {
  margin-top: 1.25rem
}

.cart form {
  padding: 2vh 0
}

.cart select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

/* .cart input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
} */

/* .cart input:focus::-webkit-input-placeholder {
  color: transparent
} */

.summary .btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0
}

.summary .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none
}

.summary .btn:hover {
  color: white
}

.cart a, .summary a {
  color: black
}

.cart a:hover, .summary a:hover {
  color: black;
  text-decoration: none
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}
.cart .qty {
  width: 40px;
}
.cart .up-qty {
  padding: 0 8px;
  background: #dddddd;
}
.cart .close {
  padding: 5px 5px;
  background: #dddddd;
}
.alert {
  position: absolute;
  z-index: 1;
  width: 350px;
  box-shadow: 5px 5px 25px #888888;
  right: 30px;
  top: 70px;
  color: #fbfbfb;
    background-color: #000;
    border: none;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}
.alert .close {
  color: #fff;
  font-size:1.5rem;
}
.modal.show {
  display: block;
}
.orders .card {
  margin-bottom: 5px;
}
.orders .card-header, .orders .btn-link {
  background-color: rgb(43 37 37);
  color: #fff;
  border: none;
}
.orders .card-header button {
  text-decoration: none;
  box-shadow: none;
}
.orders .btn-link:active, .orders .btn-link:focus {
  border: none;
  box-shadow: none;
}